@font-face {
  font-family: 'Red Hat Text-regular';
  src: url('../src/fonts/RedHatText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text-SemiBold';
  src: url('../src/fonts/RedHatText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Red Hat Text-Bold';
  src: url('../src/fonts/RedHatText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

:root {
  --accent-color: hsl(14, 86%, 42%);
  --accent-hover: hsl(14, 85%, 26%);
  --text-color: hsl(14, 65%, 9%);
  --text-light: hsl(12, 20%, 44%);
  --background-light: hsl(13, 31%, 94%);
  --background: hsl(7, 20%, 60%);
  --back-cart: hsl(20, 50%, 98%);
}

body {
  font-family: 'RedHatText-Regular', sans-serif;
  font-weight: normal;
  background-color: var(--background-light);
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

.bold {
  font-family: 'Red Hat Text-Bold', sans-serif;
}

.semi-bold {
  font-family: 'Red Hat Text-SemiBold', sans-serif;
}

.visabily-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.app-container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 50px;
}

/*Product*/
.product {
  width: 70%;
}

.product-title {
  margin-bottom: 20px;
  font-size: 30px;
  color: var(--text-color);
}

.product-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.product-card {}

.product-card .card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.product-card .card-button,
.product-card .card-button__add {
  width: 150px;
  padding: 10px 20px;
  padding-left: 50px;
  border-radius: 20px;
  border: 1px solid var(--accent-color);
  background: url('/public/images/icon-add-to-cart.svg') 25px 50%/20px no-repeat var(--back-cart);
  position: relative;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}

.product-card .card-button:hover {
  border: 1px solid var(--accent-color);
  background-color: rgb(247, 224, 209);
}

.product-card .card-button__add {
  display: flex;
  justify-content: space-between;
  color: var(--back-cart);
  padding-left: 20px;
  background: none;
  background-color: var(--accent-color);
}

.add-incriment,
.add-decrement {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--back-cart);
  border-radius: 50%;
  background: transparent;
}

.add-incriment:hover,
.add-decrement:hover {
  background: var(--back-cart);
}

.add-incriment:hover .svg-icon path,
.add-decrement:hover .svg-icon path {
  fill: var(--accent-color);
}

.product-card .card-title {
  margin-bottom: 10px;
  color: var(--text-light);
}

.product-card .card-desc {
  margin-bottom: 10px;
  color: var(--text-color);
}

.product-card .card-price {
  color: var(--accent-color);
}

/*cart empty*/

.cart {
  width: 27%;
  padding: 20px;
  background-color: var(--back-cart);
  border-radius: 15px;
}

.cart h2 {
  margin-bottom: 50px;
  color: var(--accent-color);
}

.cart-empty {
  text-align: center;
  color: var(--text-light);
}

/*cart order*/

.order-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--background-light);
}

.item-text p:first-child {
  margin-bottom: 10px;
  color: var(--text-color);
}

.item-text .cost {
  color: var(--accent-color);
}

.item-text .cost span {
  padding: 0 10px;
  font-size: 14px;
  color: var(--text-light);
}

.order-list li button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--background);
}

.order-list li button:hover {
  background-color: var(--background);
}

.order-list li button:hover svg path {
  fill: var(--background-light);
}

.order-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--text-light);
}

.order-total p:last-child {
  font-size: 22px;
  color: var(--text-color);
}

.order-shield {
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: var(--background-light);
  position: relative;
}

.order-shield p::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('/public/images/icon-carbon-neutral.svg');
}

.order-btn {
  width: 100%;
  padding: 15px 0;
  border-radius: 30px;
  color: var(--background-light);
  background-color: var(--accent-color);
  transition: 0.8s;
}

.order-btn:hover {
  background-color: var(--accent-hover);
}

/*order popup*/

.container-popup {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-popup .popup {
  max-width: 600px;
  width: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 100px 20px 0;
  border-radius: 15px;
  background-color: var(--back-cart);
}

.popup>h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

.popup>img {
  max-width: 50px;
  margin-bottom: 30px;
}

.popup>p {
  margin-bottom: 40px;
  color: var(--text-light);
}

.popup-list {
  max-height: 200px;
  padding: 20px;
  padding-top: 10px;
  border-radius: 15px;
  margin-bottom: 30px;
  overflow-y: auto;
  background-color: var(--background-light);
}

.popup-list__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--background);
  padding: 10px 0;
}

.popup-list__item img {
  width: 50px;
  margin-right: 20px;
  border-radius: 5px;
}

.popup-list__item .item-price {
  margin-left: auto;
}

.popup .order-total {
  padding: 0 20px;
}

.popup .order-btn {
  margin-top: auto;
}